docker/data*

**/*.log
logs*
wiki_dbt/target/
wiki_dbt/dbt_packages/
wiki_dbt/logs/

dbtvenv
ssevenv
dashvenv
**/__pycache__

**/.terraform/*
**/*.tfstate
**/*.tfstate.*
**/*.tfvars
**/*.tfvars.json
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json
**/.terraformrc
**/terraform.rc
